@media (min-width: 200px) and (max-width: 535px){
	.col-6{
		width: 100%;
	}
	nav{
		text-align: left;
	}
	#principal h1{
		width: 50%;
		font-size: 3em;
	}
	#contacto{
		width: 50%;
		margin: 3% 0 0 0;
	}
}