@media only screen and (min-width: 535px) and (max-width: 824px){
	[class*="col-"] {
		width: 75%;
	}
	.col-6{
		width: 100%;
	}
	nav{
		text-align: left;
	}
	#contacto{
		width: 80%;
		margin-top: 2%;
	}
}